<div class="sidenav-container">
  <div class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list__item" *ngIf="urlPath !== 'feedback-admin'">
        <a class="sidenav__list__link" routerLink="../feedback-admin">
          Feedback
        </a>
      </li>
      <li class="sidenav__list__item" *ngIf="urlPath !== 'users-admin'">
        <a class="sidenav__list__link" routerLink="../users-admin"> Users </a>
      </li>
      <li class="sidenav__list__item" *ngIf="urlPath !== 'articles-admin'">
        <a class="sidenav__list__link" routerLink="../articles-admin">
          Articles
        </a>
      </li>
      <li class="sidenav__list__item" *ngIf="urlPath !== 'calendar-admin'">
        <a class="sidenav__list__link" routerLink="../calendar-admin">
          Calendar
        </a>
      </li>
    </ul>
  </div>
</div>
