@import "../../assets/variables.scss";

.article {
    display: flex;
    gap: 2rem;

    background: url("../../assets/backgrounds/kiwihug-3gifzboyZk0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    .article-card {
        margin: 1rem 0;
        max-width: 18rem;
        background-color: $background-black;
        font-family: $font-medival;
        color: $color-cream;
        cursor: pointer;
        transition: 0.15s ease-in-out;

        img {
            max-width: 12rem;
            height: 260px;
            object-fit: cover;
        }
    }

    .article-card:hover {
        background-color: rgb(39, 48, 56);
    }

    mat-card-title {
        font-size: 2rem;
    }

    mat-card-subtitle {
        font-size: 1.1rem;
        margin-bottom: 6px;
        color: $color-cream;
    }

    &__wrapper {
        width: 100%;
        min-height: 100svh;

        .open-form-box {
            display: flex;
            justify-content: end;

            &__add,
            &__close {
                background-color: aliceblue;
                border-radius: 90px;

                width: 2rem;
                height: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                transition: all 0.3s ease-in-out;
            }

            &__add:hover,
            &__close:hover {
                scale: 1.5;
            }
        }
    }

    &__admin {
        display: flex;
        justify-content: center;

        margin: 2rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        display: flex;
        gap: 2rem;
    }

    &__sidebar {
        padding: 2rem 0;
        max-width: 350px;
        border-bottom: 1px solid $color-cream;
        display: flex;
        flex-direction: column;
        background-color: $background-black;

        &__search {
            width: fit-content;
            padding: 0 0.5rem;

            &__form {
                display: flex;
                justify-content: center;
            }
        }

        &__filter {
            margin: 2rem 0;

            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            &__title {
                font-size: 1.3rem;
                font-weight: 400;
                font-family: $font-medival;
                padding: 5px 10px;
                border-bottom: 2px solid $color-cream;
                color: $color-cream;

                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            &__button {
                width: 100%;
                background-color: $background-black;
                border: 0;
                color: $color-cream;
                font-family: $font-medival;
                font-size: 1.2rem;
                text-align: start;
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            &__button:hover {
                transform: translateX(10px);
                width: 80%;
                color: #ffffff;
            }
        }
    }
}
