.article {
    padding: 3rem 1.2rem;
    background-color: #111111;

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__body {
        max-width: 50%;
        font-family: "Barlow-Condensed";
        color: aliceblue;
    }
}
