@import "../../assets/variables.scss";

.article {
    padding: 5rem 1.2rem 0;
    background-color: $color-cream;

    display: flex;
    gap: 2rem;

    .article-card {
        margin: 3rem 0;
        max-width: 50svh;
        background: $background-black;
        font-family: "Barlow-Condensed";
        color: $color-cream;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    mat-card-title {
        font-size: 2rem;
    }

    mat-card-subtitle {
        font-size: 1.1rem;
        margin-bottom: 6px;
    }

    &__wrapper {
        width: 100%;

        .open-form-box {
            display: flex;
            justify-content: end;

            &__add,
            &__close {
                background-color: aliceblue;
                border-radius: 90px;

                width: 2rem;
                height: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                transition: all 0.3s ease-in-out;
            }

            &__add:hover,
            &__close:hover {
                scale: 1.5;
            }
        }
    }

    &__admin {
        display: flex;
        justify-content: center;

        margin: 2rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
