<app-navbar></app-navbar>

<div class="article">
    <div class="article__item" *ngFor="let article of articles$ | async">
        <img [src]="article.image" alt="..." class="article__image">
        <div class="article__body">
            <a class="article__title">
                {{article.title}}
            </a>
            <div class="article__content">
                {{article.content}}
            </div>
            <p class="article__author">{{article.author.email}}</p>
        </div>
    </div>
</div>