<mat-toolbar class="navbar">
  <div class="navbar__top">
      <div class="navbar__top__logo">
        <span>Velescape</span>
        <div class="navbar__top__date">
          <span>
            EST
          </span>
          <span>
            2024
          </span>
        </div>
      </div>
  </div>
  <div class="navbar__bottom">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/articles">Articles</button>
    <button mat-button routerLink="/calendar">Calendar</button>
    <button mat-button routerLink="/auth/login">Login</button>
  </div>
</mat-toolbar>