@import "../../assets/variables.scss";

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $background-black;
    color: $color-cream;
    font-family: "Barlow-Condensed";
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    &__top {
        margin: 0 auto;
        font-size: 2rem;

        &__logo {
            border-left: 1px solid $color-cream;
            border-right: 1px solid $color-cream;
            padding: 1rem 5rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__date {
            margin: 10px 0;
            display: flex;
            justify-content: space-evenly;

            font-size: 0.9rem;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        gap: 2rem;

        width: 100%;
        height: auto;

        border-top: 1px solid $color-cream;
        border-bottom: 1px solid $color-cream;

        button {
            color: $color-cream;
            font-family: "Barlow-Condensed";

            height: auto;
            padding: 1.2rem 0;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }
}
