<app-navbar></app-navbar>
<div class="calendar-admin-wrapper">
  <div class="calendar-admin">
    <div class="calendar-admin__sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="calendar-admin__content">
      <div class="calendar-admin__content__header">
        <h1 class="calendar-admin__content__header__title">Calendar</h1>
      </div>
      <div class="calendar-admin__calendar">
        <div
          class="calendar-admin__calendar__item"
          *ngFor="let item of calendar"
        >
          <div class="calendar-admin__calendar__day">
            <span>{{ item.day }}</span>
          </div>
          <div class="calendar-admin__calendar__month">
            <span>{{ item.month }}</span>
          </div>
          <div class="calendar-admin__calendar__title">
            <span>{{ item.title }}</span>
          </div>
          <div class="calendar-admin__calendar__controll">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/calendar', item.id]"
            >
              Змінити
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
