<app-navbar></app-navbar>
<div class="feedback-wrapper">
  <div class="feedback">
    <div class="feedback__info-box feedback__box-item">
      <div class="feedback__info-box__title">
        <h2 class="feedback__info-box__h2">
          Small Pricing Plan For Your Creative Business
        </h2>
      </div>

      <div class="feedback__info-box__content">
        <span>
          Article evident arrived express highest men did boy. Mistress sensible
          entirely am so. Quick can manor smart money hopes worth too. Comfort
          produce husband boy her had hearing. Law others theirs passed but
          wishes. You day real less till dear read.
        </span>

        <span>
          Considered use dispatched melancholy sympathize discretion led. Oh
          feel if up to till like. He an thing rapid these after going drawn or.
          Timed she his law the spoil round defer. In surprise concerns informed
          betrayed he learning is ye.
        </span>
      </div>
    </div>
    <div class="feedback__box-item">
      <div class="feedback__form-box">
        <div class="feedback__form-box__title">
          <h4>Get started with a free quotation</h4>
        </div>
        <form class="feedback__form">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message" required></textarea>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
