.confirm-delete-wrapper {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("../../../assets/backgrounds/kiwihug-3gifzboyZk0-unsplash2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .confirm-delete {
        padding: 1rem 2rem 2rem;
        background-color: aliceblue;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__title {
            margin-bottom: 2.3rem;
            text-align: center;
        }

        &__controll {
            display: flex;
            justify-content: center;
            gap: 2rem;
            width: 100%;

            &__button {
                width: 120px;
            }
        }
    }
}
