<app-navbar></app-navbar>
<div class="feedback-admin-wrapper">
  <div class="feedback-admin">
    <div class="feedback-admin__sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="feedback-admin__content">
      <div class="feedback-admin__content__header">
        <h1 class="feedback-admin__content__header__title">Feedback</h1>
      </div>
      <div class="feedback-admin__content__table" *ngIf="feedbacks">
        <div
          class="feedback-admin__content__loop"
          *ngFor="let item of feedbacks"
        >
          <mat-accordion class="accordion">
            <!-- #docregion basic-panel -->
            <!-- #docregion hide-toggle -->
            <mat-expansion-panel>
              <!-- #enddocregion hide-toggle -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Theme:
                  <span class="accordion__theme">
                    {{ item.theme }} {{ item.id }}</span
                  ></mat-panel-title
                >
                <mat-panel-description>
                  <div class="accordion__from">
                    From:
                    <span class="accordion__from--email">{{ item.email }}</span>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ item.message }}.</p>
              <div class="accordion__controll">
                <button
                  mat-raised-button
                  color="warn"
                  [routerLink]="[item.id, 'delete']"
                >
                  Delete
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  [routerLink]="[item.id, 'mark-as-fixed']"
                  [disabled]="item.isFixed === true"
                >
                  Mark
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
