@import "../../assets/variables.scss";

.calendar-wrapper {
    background: url("../../assets/backgrounds/kiwihug-3gifzboyZk0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.wrapper {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.calendar {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    &__item {
        min-width: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: 0.3rem 0;

        &__day {
            font-size: 1.2rem;
            font-weight: 600;
            color: $font-color;
        }

        &__month {
            font-size: 1.1rem;
            font-weight: 500;
            color: $font-color;
        }
    }

    &__title {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: cursive;
    }

    &__admin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            max-width: 50%;
        }
    }
}
