@import "../../assets/variables.scss";

.calendar-wrapper {
    background: url("../../assets/backgrounds/kiwihug-3gifzboyZk0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

.wrapper {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.calendar-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .calendar {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.5rem 1rem;
        background: white;
        min-width: 304px;
        max-width: 560px;
        border-radius: 4px;

        &__content {
            display: flex;
            flex-direction: row;
            gap: 0.1875rem;
        }
        &__month {
            display: flex;
            flex-direction: row;
        }

        &__item {
            padding: 8px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            background-color: rgb(216, 216, 216);
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__day {
                font-size: 1.2rem;
                font-weight: 600;
                color: $font-color;
            }

            &__month {
                font-size: 1.1rem;
                font-weight: 500;
                color: $font-color;
            }
        }

        &__title {
            font-size: 1.3rem;
            font-weight: 400;
            font-family: cursive;
        }

        &__admin {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__form {
                display: flex;
                flex-direction: column;
                justify-content: center;

                max-width: 50%;
            }
        }
    }
}
