<div class="calendar-wrapper">
  <app-navbar></app-navbar>
  <div class="wrapper">
    <div class="open-form-box">
      <mat-icon
        class="open-form-box__add"
        mat-raised-button
        color="primary"
        (click)="onAddButtonClick()"
        *ngIf="!isAddButtonClicked"
      >
        add
      </mat-icon>
      <mat-icon
        class="open-form-box__close"
        mat-raised-button
        (click)="onCloseButtonClick()"
        *ngIf="isAddButtonClicked"
        >close</mat-icon
      >
    </div>
    <div class="calendar__admin" *ngIf="isAddButtonClicked">
      <form
        [formGroup]="form"
        (submit)="submit()"
        class="calendar__admin__form"
      >
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input
            type="number"
            formControlName="id"
            class="form-control"
            placeholder="ID"
            matInput
            required
          />
          <mat-error *ngIf="form.invalid">ID is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Day</mat-label>
          <input
            type="number"
            formControlName="day"
            class="form-control"
            placeholder="Title"
            matInput
            required
          />
          <mat-error *ngIf="form.invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Month</mat-label>
          <input
            type="text"
            formControlName="month"
            class="form-control"
            placeholder="Month"
            matInput
            required
          />
          <mat-error *ngIf="form.invalid">Month is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Content</mat-label>
          <textarea
            type="text"
            formControlName="content"
            class="form-control"
            placeholder="Content"
            matInput
            required
          ></textarea>
          <mat-error *ngIf="form.invalid">Content is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            placeholder="Title"
            matInput
          />
          <mat-error *ngIf="form.invalid">Title is required</mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </form>
    </div>

    <div class="calendar-box" *ngIf="!isAddButtonClicked">
      <ng-container *ngFor="let month of monthArray">
        <div class="calendar">
          <div class="calendar__title">
            <span>{{ month }}</span>
          </div>
          <div class="calendar__content">
            <div
              class="calendar__month"
              *ngFor="let calendar of calendar$ | async"
            >
              <mat-card
                *ngIf="calendar.month === month"
                class="calendar__item"
                [routerLink]="['/calendar', calendar.id]"
              >
                <div class="calendar__header">
                  <div class="calendar__header__day">
                    <span>{{ calendar.day }}</span>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <app-footer></app-footer>
</div>
