<div class="homepage-wrapper">
  <app-navbar></app-navbar>
  <div class="parallax">
    <div class="parallax-wrap">
      <div class="paralax__box">
        <div class="parallax__logo">
          <span class="parallax__top">Velescape</span>
          <span class="parallax__bottom">E-library</span>
        </div>
      </div>
      <div class="parallax__box">
        <div class="parallax__filler">
          <span>Слов'янська міфологія</span>
        </div>
        <div class="parallax__line"></div>
        <div class="parallax__text">
          <span> Random Text </span>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage">
    <div class="homepage-wrap">
      <div class="homepage__title">
        <h2>Ласкаво просимо до світу слов'янської міфології!</h2>
      </div>
      Слов'янська міфологія — це багата колекція вірувань, легенд, історій та
      символів, які відображають уявлення давніх слов'ян про світ та його
      походження. Вона включає в себе багато божеств, міфічних створінь, героїв
      та легенд, які розкривають багатогранність та глибину слов'янської
      культури.
    </div>
    <img src="../../assets/images/darkaley.png" alt="" />
    <img
      src="../../assets/images/linus-sandvide-5DIFvVwe6wk-unsplash-removebg-preview.png"
      alt=""
    />
  </div>
  <img
    src="../../assets/images/зображення_2024-02-20_203909771-removebg-preview.png"
    alt=""
  />
  <app-footer></app-footer>
</div>
