<div class="homepage-wrapper">
    <app-navbar></app-navbar>
    <div class="homepage">
        <div class="homepage-wrap">
            <div class="homepage__box">
                <div class="homepage__logo">
                    <span class="homepage__top">Velescape</span>
                    <span class="homepage__bottom">E-library</span>
                </div>
            </div>
            <div class="homepage__box">
                <div class="homepage__filler">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>
                </div>
                <div class="homepage__line"></div>
                <div class="homepage__text">
                    <span>
                        Random Text
                    </span>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>