<div class="homepage-wrapper">
  <app-navbar></app-navbar>
  <div class="parallax">
    <div class="parallax-wrap">
      <div class="paralax__box">
        <div class="parallax__logo">
          <span class="parallax__top">Velescape</span>
          <span class="parallax__bottom">E-library</span>
        </div>
      </div>
      <div class="parallax__box">
        <div class="parallax__filler">
          <span>Слов'янська міфологія для всіх</span>
        </div>
        <div class="parallax__line"></div>
      </div>
    </div>
  </div>
  <div class="homepage">
    <div class="homepage-wrap">
      <div class="homepage__title">
        <h2>Ласкаво просимо до світу слов'янської міфології</h2>
        <span>
          Слов'янська міфологія продовжує жити в сучасному світі через вплив на
          літературу, мистецтво, кіно та інші сфери культури. Вона надихає
          творців та залишається джерелом натхнення для багатьох...</span
        >
      </div>
      <div class="homepage__image-box">
        <img src="../../assets/images/darkaley.png" alt="" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
